ul.nav.nav-tabs.add-bottom
    li
        a(href="/#/settings/site") Main Details
    li
        a(href="/#/settings/template") Template Options
    li
        a(href="/#/editor/content/global") Global Structures