.planning-home-boss

    .header(data-bind="affix: { top: 50, sibling: '.page-content' }")

        ol.breadcrumb
            li Home
            li Planning Boss

        .content-header.panel.panel-default
            .panel-body
                .content-header-title
                    h1 Planning - Home

    .page-content.inset

        .row

            .col-sm-6

                include stats

            .col-sm-6

                include overview-chart

        .row

            .col-sm-12
                include pipeline


