.planning-overview-stats

    .row
        .col-sm-4

            a(href="/#/plans/view/status/new")
                .panel.panel-success.panel-stat
                    .panel-heading
                        .stat.text-center
                            small.stat-label Incoming RFPs
                            h1(data-bind="text: planning.data.unassigned().length")

            //a(href="/#/plans/status/new")
                .numberCircle.red
                    .height_fix
                    .content.big(data-bind="text: planning.data.unassigned().length")
                h4.text-center(style="font-weight:bold") New

        .col-sm-4

            a(href="/#/plans/view/status/planning")
                .panel.panel-info.panel-stat
                    .panel-heading
                        .stat.text-center
                            .row
                                .col-xs-6
                                    small.stat-label Planning
                                    h2(data-bind="text: planning.data.assigned().length")
                                .col-xs-6
                                    small.stat-label Revisions
                                    h2 0

            //a(href="/#/plans/status/planning")
                .numberCircle.green
                    .height_fix
                    .content
                        span(data-bind="text: planning.data.assigned().length")
                        span &#160;/&#160;
                        span 0
                    h4.text-center(style="font-weight:bold") Planning / Revisions

        .col-sm-4

            a(href="/#/plans/view/status/closing")
                .panel.panel-warning.panel-stat
                    .panel-heading
                        .stat.text-center
                            small.stat-label Closing
                            h1 0


            //a(href="/#/plans/status/closing")
                .numberCircle.purple
                    .height_fix
                    .content 0
                h4.text-center(style="font-weight:bold") Closing


