.row
    .col-lg-12

        .home-search-box

            .home-search-head

                ul.nav.nav-pills(data-bind="foreach: search.utils.parent.modes")
                    li(data-bind="css: { active: my.vm.search.utils.parentMode().value == $data.value }")
                        a(href="#",data-bind="text: $data.display, click: my.vm.search.utils.parent.select") Quick Search

            .home-search-form

                .input-group
                    .input-group-btn
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown",aria-expanded="false",data-bind="html: my.vm.search.utils.financialMode().display + ' ' + '<span class=\"caret\"></span>'") Quick Search
                        ul.dropdown-menu(data-bind="foreach: search.utils.financial.modes")
                            li(data-bind="css: { active: my.vm.search.utils.financialMode().value == $data.value }")
                                a(href="#",data-bind="text: $data.display, click: my.vm.search.utils.financial.select") Quick Search
                    input.form-control(data-bind="value: search.utils.query, enterkey: search.utils.go ",autocomplete="off",spellcheck="false",autocorrect="false",placeholder="Address, City, Zip, County or MLS#")
                    .input-group-btn
                        button.btn.btn-success(data-bind="click: search.utils.go") Run Search <i class="icon-search"></i>

