.container-fluid
    .row
        .col-sm-3
            h3.brand Luxury Interiors
            ul.features.add-bottom
                li Porcelain floors
                li 11 foot ceilings
                li Open Living Spaces
                li Modern Designer coordinated lighting package
                li Recessed contemporary-style hi-hat lighting
                li 6" wood baseboards
                li Tankless Energy Efficient water heater
                li Full Security Alarm System
                li Front Load Ful.featuresl capacity washer and dryer
                li Programmable Digital thermostats
                li Smoke / carbon monoxide detectors
                li Smooth contemporary finishes on ceilings and walls
                li spacious his and hers walk-in closets in master
                li Linear diffuser air-conditioner grills
                li Advanced wiring for cable, phone and internet throughout
                li Dual Zone High efficiency air-conditioning units
                li Open-concept floor plans
                li Oversized closets
                li Manufacturer's warranties on all appliances
                li Preferred Builder's warranty
                li Steel reinforced monolithic concrete building foundation with concrete block construction and poured tie beam construction.
                li Custom Wine Cellar Under Staircase (optional)
        .col-sm-3
            h3 Gourmet Kitchen
            ul.features.add-bottom
                li Multi-Cycle Stainless Steel Dishwasher
                li Undermount stainless steel sink and pullout faucet
                li Quartz countertops with glass backsplash
                li Garbage disposal
                li Modern European Kitchen Cabinetry
                li Stainless Steel Appliances
                li Microwave and wall oven combination
                li Modern Refrigerator/freezer with automatic ice maker
                li European Cabinetry with premium self-closing drawers
                li Under-Cabinet lighting
                li Cabinet Style Kitchen Pantry
                li Contemporary white Quartz kitchen countertops with square edge
                li Under-Counter wine cooler (optional)
        .col-sm-3
            h3 Impressive Exterior
            ul.features.add-bottom
                li Infinity Edge Pool
                li Full Roof top Terrace with open views of the GROVE SKY !
                li Designer Concrete Driveway
                li LUSH landscaping with Automatic Sprinklers
                li Insulated Aluminum Garage Doors with remote
                li Elegant Covered Entrance
                li Aluminum Impact Resistant windows and doors
                li Private Backyards
                li Infinity Edge Pool
                li Quality CBS construction
                li Contemporary-style exterior lighting
                li front door chime
                li Insulated ceiling and exterior walls
                li 2nd floor and roof top concrete slabs
        .col-sm-3
            h3 Optional Sky View Terrace Upgrade
            ul.features.add-bottom
                li Precast Concrete floor finished with non-skid flooring
                li
                    | Summer Kitchen Includes
                    ul.features
                        li Stainless Steel BBQ Grill
                        li Stainless Steel Burners
                        li Stainless Steel Undercounter Refrigerator
                        li Stainless Steel Undermount sink with contemporary brushed nickel faucet
                        li Black Absolute granite countertop with 4" backsplash
                li Hot tub
                li Decorative Waterfall Cascade feature
                li Artificial Grass Turf
                li Custom Designer Wood Trellis
            h3 Elegant Bathrooms
            ul.features.add-bottom
                li Free standing modern bath tubs
                li Modern Bidet in Master Bathroom
                li Double Sink in Master Bathroom
                li Frameless Glass Shower enclosures
                li Exhaust fans in all bathrooms
                li Custom-finished floors and walls in wet areas
