.container-fluid
    .row
        .col-sm-4.col-sm-offset-4
            .galleria.galleria-tall
                img(src="/images/grovesky/plans/FloorPlan1.jpg")
                img(src="/images/grovesky/plans/FloorPlan2.jpg")
                img(src="/images/grovesky/plans/FloorPlan3.jpg")