.container-fluid
    .galleria
        img(src="/images/grovesky/gallery/1.jpg")
        img(src="/images/grovesky/gallery/2.jpg")
        img(src="/images/grovesky/gallery/3.jpg")
        img(src="/images/grovesky/gallery/4.jpg")
        img(src="/images/grovesky/gallery/5.jpg")
        img(src="/images/grovesky/gallery/6.jpg")
        img(src="/images/grovesky/gallery/7.jpg")
        img(src="/images/grovesky/gallery/8.jpg")
        img(src="/images/grovesky/gallery/9.jpg")
        img(src="/images/grovesky/gallery/10.jpg")
        img(src="/images/grovesky/gallery/11.jpg")
        img(src="/images/grovesky/gallery/12.jpg")
        img(src="/images/grovesky/gallery/13.jpg")
        img(src="/images/grovesky/gallery/14.jpg")
        img(src="/images/grovesky/gallery/15.jpg")
        img(src="/images/grovesky/gallery/16.jpg")
        img(src="/images/grovesky/gallery/17.jpg")