extends ../layout

block meta
    title About Us | The Canero Group
    meta(name='description', content='The Canero Group provides buyers and sellers with a wide variety of real estate services and tools including online MLS property search, investment opportunities.')
    meta(property='og:title', content="The Canero Group - Real Estate Investment Services")
    meta(property='og:type', content='website')
    meta(property='og:url', content="http://canerogroup.com")
    meta(property='og:image', content='http://www.canerogroup.com/images/logo_square.jpg')
    meta(property='og:site_name', content='The Canero Group')
    meta(property='og:description', content="The Canero Group provides buyers and sellers with a wide variety of real estate services and tools including online MLS property search, investment opportunities.")

block content

    h1.page-header.text-primary About The Canero Group

    .panel.panel-default.add-bottom
        .panel-body

            p The Canero Group is a private institution specializing in a full range of management and advisory services for Real Estate investors. Our exclusive services are provided to a diversity of clientele including high net worth individuals, financial institutions, REITS, and other commercial real estate related companies across the world, assisting all of our clients in every aspect of their real estate investment. Acting in a fiduciary capacity, our professional staff guides clients in seeking opportunities, the acquisition process, managing properties, and even arranging appropriate mortgage financing.

            img.thumbnail.img-responsive.max-width(src="/images/about1.jpg")

            p Using our secure Exchange system, we are able to provide our clients with the latest investment opportunities from our private database along with the tools and latest news on the current market in order for our clients to make educated investments. Aside from our own resources, we also utilize long-established relationships with distinguished individuals and reputable institutions around the world to assure that our clients' goals are met.
            p The Canero Group's primary goal is to help clients find the proper investments based on their objectives as well as managing such properties at the most efficient capacity to yield the highest profits. The primary executives of The Canero Group have been in the real estate business for over 30 years and as such are aware of the clients’ needs in making secure investments with today's dynamic market. The consideration our professionals provide each client goes unparalleled in the industry, focusing on structuring investment programs for each client based on their particular needs.
            p Strict standards are utilized in every step of the real estate acquisition, management, and financing stages. All potential investments are thoroughly examined to be sure that they are in compliance with the client's investment objectives.