extends ../layout

block meta
    title Our Services | The Canero Group
    meta(name='description', content='The Canero Group provides buyers and sellers with a variety of real estate services for both commercial and residential transactions. Our top realtors are experienced in the South Florida market.')
    meta(property='og:title', content="The Canero Group - Real Estate Investment Services")
    meta(property='og:type', content='website')
    meta(property='og:url', content="http://canerogroup.com")
    meta(property='og:image', content='http://www.canerogroup.com/images/logo_square.jpg')
    meta(property='og:site_name', content='The Canero Group')
    meta(property='og:description', content="The Canero Group provides buyers and sellers with a variety of real estate services for both commercial and residential transactions. Our top realtors are experienced in the South Florida market.")

block content

    h1.page-header.text-primary Our Services

    .panel.panel-default.add-bottom
        .panel-body

            .row
                .col-lg-6

                    h3 Purchases
                    p <strong>The Canero Group</strong> represents investors in the purchase of commercial & residential properties throughout South Florida. While consulting with the investor, we establish specific guidelines in order to meet the expectations of our client from the asset. Once the investor’s approval is ensured, a financial review is conducted on the property. When the decision is made to purchase the property, <strong>The Canero Group</strong> will negotiate the price according to the clients’ guidelines as well as to guarantee the best purchase price possible for the property in question.

                .col-lg-6

                    h3 Sales
                    p The same as with purchasing a property, <strong>The Canero Group</strong> offers our clients an exit strategy once a decision to sell has been made. We will oversee all aspects of the sale transaction maintaining our client’s interest as our main priority. With the help of our experienced agents and our vast knowledge of the local real estate market, we provide our clients with peace of mind during the sale of each asset.

            .row
                .col-lg-6

                    h3 Asset Management
                    p Proper management of an asset is key for the success of a realized investment. <strong>The Canero Group</strong> provides professional and quality service while managing our investors’ properties. In order to maintain the asset’s economic viability, we oversee all necessary aspects when managing a property. We ensure each property is inspected frequently and we provide each investor with a detailed report containing photos demonstrating the condition of the property.

                .col-lg-6

                    h3 Financing
                    p Obtaining competitive mortgage financing at the lowest interest rates provides our clients the benefit of leveraging, even when financing is only used to cover a portion of the purchase price. Our long-standing relationship with many major mortgage lending institutions enables us to obtain the most appropriate financing terms for each asset as well as providing the client with a diversity of options to choose from.

            .row
                .col-lg-6

                    h3 Consulting
                    p The members of our staff serve as consultants and are available to our clients at any time. With our investor’s best interest in mind, our consultants guide them through the process of their real estate experience by creating objectives and reviewing each respective asset. Our goal is to cater with the outmost quality of service to each investor in order to satisfy their experience and create a great atmosphere during their real estate transaction.

                .col-lg-6

                    h3 Single Property Funds
                    p From time to time, <strong>The Canero Group</strong> will bring investors together for the purchase of a single property. Single Property Funding is available for those investors who rather work on a case-by-case basis. Investors can still reach a measure of diversification by investing in a number of Single Property Funds. While many Single Property Funds have acquired properties that were focused on providing good current income, many of the finds we sponsored have also had an important capital gain component.
            .row
                .col-lg-6

                    h3 Development
                    p We provide real estate investors, partners, and end users with the best development services while always delivering on time and on budget. As builders we deliver what we promise and add value that goes beyond what's expected. If your ready for a new property, <strong>The Canero Group</strong> is ready to build it.